<app-toast></app-toast>
<div>
  <!-- <app-navbar *ngIf="isAuthenticated"></app-navbar> -->
  <!-- <app-topbar></app-topbar> -->
  <h1 class="title">ETERGEA</h1>
  <div   class="content-wrapper">  
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
</div>
</div>
<!-- <app-footer></app-footer> -->

 

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * this is in Evim* * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div id="wrapper">
    <app-nav-bar *ngIf="isAuthenticated && showNavBar"></app-nav-bar> 
    <div id="content-wrapper" class="d-flex flex-column"> 
        <div id="content">
            <app-top-bar *ngIf="isAuthenticated && showTopBar"></app-top-bar>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer> -->