 .toastInfo {
    font-size: larger;
    position: relative;
    margin: 1%;
    width: max-content;
    z-index: 1200;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
 }

 .red{

    background-color: rgb(201, 78, 38);
 }

 .blue{
    background-color: cornflowerblue;
 }


 .toast-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0%;
    right: 0%;
    margin: 1%;
    align-items: flex-end;
 }


 @media only screen and (max-width: 350px) {
     .toastWithMargin {
         left: -70%;
         width: 189px;
     }

     .toastAlertWithMargin {
         left: -70%;
         width: 189px;
     }
 }

 @media only screen and (max-width: 899px) {
     .toastWithMargin {
         left: calc(0% - 5%);
     }

     .toastAlertWithMargin {
         left: calc(0% - 5%);
     }
 }


 .close-button {
     margin-left: auto;
     background: none;
     border: none;
     color: #fff;
     font-size: 16px;
     cursor: pointer;
 }